*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    background-color: #BC5148;

    .container{
        display: flex;
        justify-content: space-between;
      
        a{
            font-size: 14px;
        }
        .icons{
            ul{
                display: flex;
                gap: 10px;
            }
            a :hover{
                color: white;
            }
        }
        .texts{
            ul{
                display: flex; 
                gap: 10px;
            }
        }
    }
}

.texts{
    .text-one:hover{
        color: white;
        width: 65px;
        background-color: #c7554b;
    }
    .text-two{
        background-color: #F4B214;

        &:hover{
            color: white;
        }
    }
}

#head{
    padding: 12px;
    font-size: 17px;
    color: #DDDDDD;
    & :hover{
        color: #c7554b;
    }

   .drop-item{
    a:hover{
        background-color: #c7554b;
        color: white;
    }
    }
   }


#home{
    background-image: url(https://preview.colorlib.com/theme/adopted/img/slider-2.jpg);
    background-size: cover;
    width: 100%;
    height: 600px;
}